# ignore backup files
*~
.*~
\#*\#

## Vim
*.swp
.netrwhist
.vim/bundle/*
## Emacs
*.elc
ac-comphist.dat
## tags
tags

# ignore directory
## Emacs
.emacs.d/auto-save-list/
.emacs.d/eshell/
.emacs.d/url/
.emacs.d/elpa/archives/

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

